<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Hello</title>
</head>
<body>

    <header>
        <form>
            <input type="text" id="search" placeholder="search">
        </form>
    </header>

    <main>
        <div class="container">
        </div>
    </main>

    <footer>
        <a href="settings.html">
            <i class='fa-sharp fa-solid fa-gear fa-2x'></i>
        </a>
        <a href="account.html">
            <i class="fa-solid fa-user-astronaut fa-2xl"></i>
        </a>
        <a href="newMessage.html">
            <i class="fa-solid fa-pen-to-square fa-2xl"></i>
        </a>
    </footer>
    
</body>
</html>