<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/privacy.css">
    <title>FAQ</title>
</head>
<body>
    <main>
        <h1>readMe</h1>
        <p>Mates is an end to end encrypted real time group chat app.</p><br>

        <p><strong>What does this mean?</strong></p><br>
        <p>It means our aim is to store as little information about you as possible. End to end means only the sender and receiver have access to the message.</p><br>
        <p>If your message is sent long distance certain metadata can be seen about the message on every server the message passes through</p><br>
        
        <p><strong>What happens when I send a message?</strong></p>
        <p>Once you hit send, the message is encrypted and sent to the receiver. The receiver decrypts the message automatically.</p>

        <p><strong>What information do we keep?</strong></p>
        <p>Only your username and password</p>
        <p>So if our database is hacked this information could potentially be leaked</p>

        <p><strong>What about messages?</strong></p>
        <p>They are end to end encrypted, so only someone with access to your phone can read them</p>


        <a href="../views/register.html">Sign Up</a>
    </main>
    
</body>
</html>