<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">
    <title>Sign Up</title>
</head>
<body>
    <main>
        <h1>mates</h1>
        <form id="register-form">
            <input type="text" id="username" placeholder="username" required>
            <input type="password" id="password" placeholder="password" required>
            <button type="submit">Welcome!</button>
        </form>
        <a href="../../index.html"><h2>Login</h2></a>
        <a href="privacy.html"><h2>FAQ</h2></a>
    </main>
    
    <script src="../js/register.js"></script>
</body>
</html>