<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Settings</title>
</head>
<body>

    <header>
        <h1>settings</h1>
    </header>

    <main>
        <div class="container">
            <section>
                <h2>privacy</h2>
            </section>
            <section>
                <h2>font-size</h2>
            </section>
            <section>
                <h2>colors</h2>
            </section>
            <section>
                <h2>notifications</h2>
            </section>
            <section>
                <h2>call</h2>
            </section>
        </div>
    </main>

    <footer>
        <a href="dashboard.html">
            <i class="fa-regular fa-comments fa-2xl"></i>
        </a>
        <a href="account.html">
            <i class="fa-solid fa-user-astronaut fa-2xl"></i>
        </a>
        <a href="newMessage.html">
            <i class="fa-solid fa-pen-to-square fa-2xl"></i>
        </a>
    </footer>
    
</body>
</html>